html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**  Reset para REMS -62.5% = 10px de 16px  **/
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: rgb(235, 240, 241);
}

.nav {
    background-color: rgb(31, 30, 30);
    border-bottom: 3px solid rgb(31, 30, 30);
}

.nav h1 {
    margin: 0;
    text-align: center;
    padding: 3rem;
    color: white;
}

.texto {
    text-align: center;
}

.footer {
    background-color: rgb(31, 30, 30);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
}

.footer p {
    text-align: center;
    color: white;
    font-size: 2.3rem;
}

.imagen img {
    width: 50%;
}